[Desktop Entry]
Icon=unknown
Name=https://www.youtube.com/user/ScottBradleeLovesYa
Type=Link
URL[$e]=https://www.youtube.com/user/ScottBradleeLovesYa
