max_res: 
   - 
      w: 3840
      h: 2160
   - 
      w: 1920
      h: 1080

best_format: 
   - 
      v: avc1
      a: mp4a
      ext: mp4
      process_mp4: true
      
   - 
      v: vp9
      a: mp4a
      ext: mkv
      process_mp4: false

audio_only_format:
   a: mp4a
   ext: m4a

only_audio: false
scan_dir: Desktop
out_dir: Downloads
